unipath==1.1
xlrd==1.1.0
xlwt==1.3.0
beautifulsoup4==4.6.3
git+https://github.com/muccg/ckanapi.git@streaming-uploads
requests==2.21.0
httplib2==0.12.0
boto3==1.9.65
botocore==1.12.65
google-api-python-client
python-dateutil==2.7.5
# replace below line with pip packagename and version when registered with pypi
https://github.com/BioplatformsAustralia/sensitive-species-location-handler/archive/1.0.5.tar.gz
# bug prevents pip install; see https://github.com/jswhit/pyproj/issues/136
Cython==0.29.2
git+https://github.com/jswhit/pyproj.git
OWSLib==0.17.0
